doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Makerspace Administration
    style
        include ./styles.jade
    include ./scripts.jade

    -var alert = {type: '', description: 'Successfully added user Tommy.'}
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      script(src='https://use.fontawesome.com/9a4a4c94e1.js')
  body
    #wrapper
      // Navigation
      include ./navbar.jade
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Add User
          // /.col-lg-12
        // /.row
        .row
          .col-lg-12
            if alert.description
              if alert.type == 'success'
                .alert.alert-success.face.in 
                  p.description= alert.description
                    a(href="#" class='close' data-dismiss='alert' aria-label='close') &times
              if alert.type == 'error' 
                .alert.alert-danger.face.in 
                  p.description= alert.description
                    a(href="#" class='close' data-dismiss='alert' aria-label='close') &times
              if alert.type == 'info' 
                .alert.alert-danger.face.in 
                  p.description= alert.description
                    a(href="#" class='close' data-dismiss='alert' aria-label='close') &times
                    
            .panel.panel-default
              .panel-heading Enter the user information:
              .panel-body
                .row
                  .col-lg-12
                    form(role='form', action='addUser', method='post')
                      .col-lg-6
                        .form-group
                          label First Name
                          input.form-control(type='text', name='firstName')
                      .col-lg-6
                        .form-group
                          label Last Name
                          input.form-control(type='text', name='lastName')
                      .col-lg-12
                        .form-group
                          label Email
                          input.form-control(placeholder='name@example.com', name="email")
                        .form-group
                          label Joined
                          input.form-control(type='date', name='joined')
                        .form-group
                          label Affiliation
                          select.form-control(name='affiliation') 
                            //Fill these in from database table called affiliation
                            option UNH Undergraduate Student
                            option UNH Graduate Student
                            option UNH Faculty/Staff
                            option Other
                        .form-group
                          label Role
                          select.form-control(name='role')
                            option User
                              option Mentor
                              option Volunteer
                              option Master
                              option Board Member
                              option Other
                        .form-group
                            label RFID Tag Number
                            input.form-control(type='number', placeholder='1234567890', name='tagNum')
                
                        button.btn.btn-primary(type='submit') Submit
                        //button.btn.btn-default(type='reset') Reset

    // jQuery
    script(src='../bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
