doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Makerspace Administration
    style
        include ./styles.jade
    include ./scripts.jade

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      script(src='https://use.fontawesome.com/9a4a4c94e1.js')

  body
    #wrapper
      // Navigation
      include ./navbar.jade
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Users
          // /.col-lg-12
        // /.row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                | DataTables Advanced Tables
              // /.panel-heading
              .panel-body

                table#dataTable.table.table-striped.table-bordered
                  thead
                    tr
                      th First Name
                      th Last Name
                      th Email
                      th Join Date
                      th Role
                      th Edit 
                  tbody
                    each user in userList
                        tr.odd.gradeX
                            each attribute in user
                                td= attribute
                            td
                                a(href='users/edit-user/' + user.firstName) 
                                 i.fa.fa-pencil-square.fa-2x

              // /.panel-body
            .well
              h3 Reference
              hr 
              a(href='https://datatables.net/reference/event/select') Table selection event (Javascript)
              p
                | For complete documentation on DataTables, visit their website at 
                a(target='_blank', href='https://datatables.net/') https://datatables.net/

            // /.panel
          // /.col-lg-12
        // /.row
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='../bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    // DataTables JavaScript
    script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
    // Page-Level Demo Scripts - Tables - Use for reference
    script.
      $(document).ready(function() {
        $('#dataTable').DataTable({
          responsive: true
        });
      });
